@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
}

body {
  background-color: hsl(233, 47%, 7%);
  padding: 50px 15px;
  position: absolute;
}

h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

span {
  color: hsl(277, 64%, 61%);
}

h3 {
  color: hsl(0, 0%, 100%);
  font-size: 22px;
}

/* Classes */

.container {
  border: 2px solid black;
  border-radius: 10px;
  background-color: hsl(244, 38%, 16%);
}

.img__container {
  background-color: hsl(277, 64%, 61%, 0.7);
}

.img {
  width: 100%;
  min-height: 100%;
  border-radius: 10px 10px 0 0;
  mix-blend-mode: multiply;
  opacity: 82%;
}

.info {
  padding: 20px 20px 0;
  text-align: center;
}

.para {
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
}

.stats__container {
  margin: 25px 0;
}

.stats {
  margin: 20px 0;
}

.stats p {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 15px;
}
.stats h3,
.stats p {
  margin: 5px 0;
}

.attribution {
  position: absolute;
  bottom: 7px;
  width: 100%;
  font-size: 11px;
  text-align: center;
  color: white;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 600px) {
  body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container {
    display: flex;
    width: 60%;
  }
  .img__container {
    order: 2;
  }
  .img__container,
  .info {
    flex: 1;
  }
  .info {
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .info h2 {
    font-size: 24px;
  }
  .info p {
    font-size: 16px;
  }
  .stats__container {
    display: flex;
    justify-content: space-between;
  }
  .stats p {
    font-size: 14px;
  }
}
